.main-footer .footer-bottom .copyright.copyright-ceanter {
  float: none;
  text-align: center;
}

.main-header .header-upper .logo-box .logo .site-title a {
  color: #fff;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 30px;
  display: block;
}

.main-header .header-upper .logo-box .logo p {
  margin-bottom: 30px;
}

.main-header .header-upper .logo-box-down {
  top: -20px;
}

.main-header .nav-outer .main-menu.main-menu-right {
  float: right;
}

.no-post-thumb .inner-box .lower-content {
  padding: 30px;
}

.no-post-thumb .inner-box .lower-content .date {
  position: relative;
  margin-bottom: 25px;
  left: 0;
  top: 0;
}

.sticky_post_icon {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.nav-links, .page-links {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-left: 15px;
}

.nav-links a, .page-links a, .nav-links .current, .page-links .current {
  margin: 0px 6px 0px 0px;
  position: relative;
  display: inline-block;
  line-height: 43px;
  height: 45px;
  font-size: 16px;
  min-width: 45px;
  color: #222222;
  font-weight: 400;
  text-align: center;
  border: 1px solid #e0e0e0;
  text-transform: capitalize;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border-radius: 5px;
}

.nav-links a:hover, .page-links a:hover, .nav-links .current:hover, .page-links .current:hover {
  color: #ffffff;
}

.nav-links .current, .page-links .current {
  color: #ffffff;
}

.page-links {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  width: 100%;
}

.comments-area .children {
  padding-left: 20px;
}

.comment-close {
  margin-bottom: 0;
}

.logged-in-as {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logged-in .comment-respond .comment-form .form-submit .btn-style-one {
  margin-top: 15px;
}

.comment-respond .comment-reply-title {
  font-size: 18px;
}

.comment-respond .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment-respond .comment-form .email-not-publish {
  font-size: 13px;
  margin-top: 15px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.comment-respond .comment-form .row {
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.comment-respond .comment-form .row:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.comment-respond .comment-form .comment-form-cookies-consent {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  width: 100%;
  margin: 0 0 0px;
  margin-top: 15px;
}

.comment-respond .comment-form .comment-form-cookies-consent label {
  margin-left: 10px;
  font-size: 13px;
}

.comment-respond .comment-form .form-submit {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
  margin-bottom: 0;
}

.comment-respond .comment-form .form-submit .btn-style-one {
  width: 100%;
  margin-top: 5px;
}

.sticky-header .main-menu .navigation > li.menu-item-has-children > a:after {
  display: none;
}

.main-menu .navigation > li.menu-item-has-children > a:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  position: absolute;
  right: -14px;
  top: 5px;
  display: block;
  line-height: 30px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  z-index: 5;
}

.main-menu .navigation > li.menu-item-has-children {
  padding-right: 14px;
}

.main-menu .navigation > li.menu-item-has-children:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.main-menu .navigation > li.menu-item-has-children:hover ul li ul {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.main-menu .navigation > li.menu-item-has-children:hover ul li:hover ul {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.main-menu .navigation > li.dropdown > a:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f107";
  position: absolute;
  right: -14px;
  top: 5px;
  display: block;
  line-height: 30px;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  z-index: 5;
}

.main-menu .navigation > li > ul > li.menu-item-has-children > a:after {
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  position: absolute;
  right: 16px;
  top: 12px;
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  z-index: 5;
}

.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor,
.alignright,
.alignleft,
.aligncenter {
  opacity: 1;
}

.wp-caption-text {
  text-align: center;
}

.sidebar-side .sidebar .widget {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.sidebar-side .sidebar .widget:last-child {
  margin-bottom: 0px;
}

.sidebar-side .sidebar .widget_archive ul, .sidebar-side .sidebar .widget_categories ul, .sidebar-side .sidebar .widget_pages ul, .sidebar-side .sidebar .widget_nav_menu ul {
  position: relative;
  margin-left: 20px;
}

.sidebar-side .sidebar .widget_archive ul li, .sidebar-side .sidebar .widget_categories ul li, .sidebar-side .sidebar .widget_pages ul li, .sidebar-side .sidebar .widget_nav_menu ul li {
  position: relative;
  list-style-type: disc;
  color: #25283a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sidebar-side .sidebar .widget_archive ul li:after, .sidebar-side .sidebar .widget_categories ul li:after, .sidebar-side .sidebar .widget_pages ul li:after, .sidebar-side .sidebar .widget_nav_menu ul li:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 13px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.sidebar-side .sidebar .widget_archive ul li a, .sidebar-side .sidebar .widget_categories ul li a, .sidebar-side .sidebar .widget_pages ul li a, .sidebar-side .sidebar .widget_nav_menu ul li a {
  display: block;
  color: #25283a;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  text-transform: capitalize;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  margin-bottom: 10px;
}

.sidebar-side .sidebar .widget_archive ul li:last-child, .sidebar-side .sidebar .widget_categories ul li:last-child, .sidebar-side .sidebar .widget_pages ul li:last-child, .sidebar-side .sidebar .widget_nav_menu ul li:last-child {
  margin-bottom: 0px;
}

.sidebar-side .sidebar .widget_archive ul li ul, .sidebar-side .sidebar .widget_categories ul li ul, .sidebar-side .sidebar .widget_pages ul li ul, .sidebar-side .sidebar .widget_nav_menu ul li ul {
  width: 100%;
}

.sidebar-side .sidebar .widget_meta ul li a {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}

.sidebar-side .sidebar .widget_calendar caption {
  border: 2px solid #f0f0f0;
  padding-left: 10px;
  border-top: 0px;
}

.sidebar-side .sidebar .widget_recent_comments ul li {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.sidebar-side .sidebar .widget_recent_entries ul li {
  background: #f7f7fa;
  padding: 15px 30px;
  margin-bottom: 10px;
}

.sidebar-side .sidebar .widget_recent_entries ul li a {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #25283a;
}


.sidebar-side .sidebar .widget_rss ul li {
  background: #f7f7fa;
  padding: 15px;
  margin-bottom: 15px;
}

.sidebar-side .sidebar .widget_rss ul li:last-child {
  margin-bottom: 0px;
}

.sidebar-side .sidebar .widget_rss ul li a.rsswidget {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 10px;
  font-weight: 600;
}

.sidebar-side .sidebar .widget_rss ul li .rss-date {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 10px;
  font-weight: 600;
}

.sidebar-side .sidebar .widget_rss ul li .rssSummary {
  margin: 10px auto;
  font-size: 15px;
  line-height: 24px;
}

.sidebar-side .sidebar .widget_rss ul li cite {
  position: relative;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 10px;
  font-weight: 600;
  font-style: normal;
}

.sidebar-side .sidebar .widget_text .textwidget p {
  margin: 7px auto;
  font-size: 14px;
  line-height: 27px;
}

.sidebar-side .sidebar .widget_text .textwidget p strong {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 10px;
}

.sidebar-side .sidebar .widget_text .textwidget p img {
  margin: 10px auto;
}

.sidebar-side .sidebar .widget_tag_cloud .tagcloud a {
  position: relative;
  display: block;
  padding: 5px 16px;
  color: #25283a;
  text-align: center;
  font-size: 13px !important;
  line-height: 30px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: #edf1f5;
  border-radius: 20px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  float: left;
  margin: 0px 8px 8px 0px;
}

.sidebar-side .sidebar .widget_tag_cloud .tagcloud a:hover {
  color: #fff;
}

.sidebar-side .sidebar .widget_nav_menu ul {
  margin-left: 15px;
}

.sidebar-side .sidebar .widget_nav_menu ul:first-child {
  margin-left: 20px;
}

select {
  position: relative;
  padding: 15px 50px 15px 15px;
  border: 1px solid #f7f7fa;
  background: #f7f7fa;
  display: block;
  font-size: 16px;
  line-height: 30px;
  width: 100%;
  height: 62px;
  color: #25283a;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  max-width: 320px;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid #f0f0f0;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  font-size: 15px;
}

th,
td {
  padding: 7px;
  font-size: 15px;
}

table {
  border-collapse: separate;
  margin-bottom: 10px;
  margin-top: 10px;
  border-spacing: 0;
}

.error-area-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-block .text p {
  position: relative;
  font-size: 15px;
  margin: 0;
}

.header-style-two .logo-box.logo-box-down {
  top: -55px;
}
.widget_calendar table {
  width: 100%;
}


.banner-carousel {
  display: block !important;
}
.banner-carousel .content-box * {
  opacity: 1 !important;
  transform: translate(0) !important;
}
.banner-carousel .slide-item {
  display: none;
}

.banner-carousel .slide-item:first-child {
  display: block;
}